@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    transition: background-color var(--transition-duration)
        var(--easing-standard);
}
